# A/B TESTING

In [1]:
# Import Libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## DATA IMPORT

Importing the E-commerce webpage [data](https://www.kaggle.com/zhangluyuan/ab-testing?select=ab_data.csv) and creating a dataframe using pandas.

In [2]:
df = pd.read_csv('data/ab_data.csv.zip')
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

## DATA WRANGLING

In [3]:
# Understanding the dataset
df.shape

(294478, 5)

In [4]:
# Checking the dataframe for any null values
df.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [5]:
# Checking for unique categories
df['group'].nunique()

2

We now, know that the group has two categories. 

>1. Control
>2. Treatment

In [6]:
# Checking for unique users
df['user_id'].nunique()

290584

In [7]:
# the conversation of the users
df['converted'].mean()

0.11965919355605512

In [9]:
# Creating a new dataframe with only the required columns
new_df = df[['group','landing_page','converted']]
new_df

            group landing_page  converted
0         control     old_page          0
1         control     old_page          0
2       treatment     new_page          0
3       treatment     new_page          0
4         control     old_page          1
...           ...          ...        ...
294473    control     old_page          0
294474    control     old_page          0
294475    control     old_page          0
294476    control     old_page          0
294477  treatment     new_page          0

[294478 rows x 3 columns]

In [10]:
# Exploring the group column to understand about the categories 'control' vs 'treatment'
new_df.groupby(['group','landing_page']).count()

                        converted
group     landing_page
control   new_page           1928
          old_page         145274
treatment new_page         145311
          old_page           1965

After reviewing above data, it appears that some of the control group where shown new_page instead of the old_page, the treatment group was also shown both types of landing page which could have be by error.